@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">

    <h1>Welcome to EventEase</h1>

    <p>
        Your one-stop platform for managing and registering for events.
    </p>

    <NavLink href="/events"
             class="btn btn-primary">
        Browse Events
    </NavLink>

</div>