@page "/notfound"

<PageTitle>404 - Page Not Found</PageTitle>

<div class="container mt-5 text-center">

    <h1 class="display-3 text-danger">
        404
    </h1>

    <h3>Page Not Found</h3>

    <p class="lead">
        Sorry! The page you requested could not be found.
    </p>

    <NavLink href="/" class="btn btn-primary">
        Return Home
    </NavLink>

</div>